.App {
    text-align: center;
    background: #D2E3FC;
}

.App-title {
    position: absolute;
    top: 10px;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #11547e;
}

@media (max-width: 575.98px) {
    .App-header {
        flex-flow: wrap;
        flex-direction: column-reverse;
    }
}


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {}


/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {}