.App {
    text-align: center;
    background: #D2E3FC;
}

.App-title {
    position: absolute;
    top: 10px;
}

.App-man {
    height: 50vmin;
    width: 25vw;
    pointer-events: none;
    position: absolute;
    right: 0px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-man {
        animation: App-man-float infinite 3s ease-in-out;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #11547e;
}

@keyframes App-man-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0px)
    }
}